<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tuifang</key>
		<string>04/28</string>
		<key>wan</key>
		<string>1</string>
		<key>yaoqiu</key>
		<string>大床房</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>日本一日游</string>
		<key>ruzhu</key>
		<string>04/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>5564</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>有阳台</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>大阪游</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>5564</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>有老人，有儿童</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>东京三日游</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>5564</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>自驾游</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>自驾游，希望有车</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>5564</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>有樱花可以欣赏</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>看樱花</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>5564</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>有阳台</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>日本野炊</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>5564</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>06/03</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>靠海大床房</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>看海</string>
		<key>ruzhu</key>
		<string>06/01</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>2000</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>有阳台</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>大阪游</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>9898</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>有阳台</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>大阪游</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>7657</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>tuifang</key>
		<string>05/30</string>
		<key>wan</key>
		<string>3</string>
		<key>yaoqiu</key>
		<string>有阳台</string>
		<key>vxhao</key>
		<string>VANXLUO</string>
		<key>vxid</key>
		<string>30</string>
		<key>title</key>
		<string>大阪游</string>
		<key>ruzhu</key>
		<string>05/27</string>
		<key>renshu</key>
		<string>1</string>
		<key>addtime</key>
		<string>1493292153</string>
		<key>diqu</key>
		<true/>
		<key>id</key>
		<string>17</string>
		<key>isComplete</key>
		<string>0</string>
		<key>isMine</key>
		<string>0</string>
		<key>isTop</key>
		<string>0</string>
		<key>nickName</key>
		<string>Vanx</string>
		<key>price</key>
		<string>7654</string>
		<key>priceType</key>
		<string>JPY</string>
	</dict>
</array>
</plist>
